    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="#">Ab2c</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                   
                                             
                                    {#  
                                    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/prestation" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Packs
        </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/pack">Print</a>
          <a class="dropdown-item" href="/web">Web</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/print">Entreprise</a>
        </div> </li>#}
                                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>    
                           <li class="nav-item"><a class="nav-link" href="/prestation">Nos packs</a></li>
                                    
                           
                                    <li class="nav-item"><a class="nav-link" href="/a_propos">A propos</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/team">Team</a></li>
                                   
                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="/nous_joindre">Contact</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="/nous_joindre">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </header>