<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Agence Bulle2com</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="theme/agence/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="theme/agence/css/responsive.css" rel="stylesheet">

</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>

        {% block body %}
            
         

            {{ include('partials/_header.twig') }}



            {% block content %}
                
            {% endblock content %}


           
        {% endblock body %}

       
       <!-- Jquery-2.2.4 JS -->
    <script src="theme/agence/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="theme/agence/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="theme/agence/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="theme/agence/js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="theme/agence/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="theme/agence/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="theme/agence/js/active.js"></script>
</body>

</html>
