<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Agence Bulle2com</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="/theme/agence/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="/theme/agence/css/responsive.css" rel="stylesheet">
<link href="/theme/agence/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
{{ include ('composant/section_tarif.twig') }}
{{ include ('composant/contact.twig') }}
{{ include ('composant/footer.twig') }}


<p> nique mook </p>
    <script src="theme/agence/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="theme/agence/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="theme/agence/js/bootstrap.min.js"></script>
</body>

</html>
