        {% extends 'partials/_master.twig' %}




{% block content %}
    {{ include ('composant/header.twig') }}
    <!-- ????????? --> <!-
        - Special Description Area -->
        <div class="special_description_area bg-white">
            <div class="container">
                <div class="row">
           
                    <div class="col-lg-12 col-md-12">
                        <div class="special_description_content" style="text-align:center;">
                         
                            <h2>Politique de confidentialité</h2>
                            <h3>Dispositions générales</h3>
                            <p>L’agence Bulle2com est engagée dans une démarche globale de respect de la confidentialité des données à caractère personnel qui lui sont confiées dans le cadre de son activité, y compris à travers les moyens de collecte disponibles depuis son site internet www.agence-bulle2com.fr.
Bulle2com s’engage à ce que l’exploitation des données personnelles soit conforme aux directives du Règlement Général de la Protection des Données (RGPD) de l’UE.</p>
                            <h3>Collecte de données</h3>
                            <p>Des formulaires de contact sont mis à disposition de nos usagers sur notre site internet. Dans chaque cas, les informations collectées à travers ces formulaires sont strictement minimisées aux besoins de compréhension des demandes et d’élaboration des réponses correspondantes aux services proposés. Le caractère obligatoire ou facultatif vous est signalé lors de la collecte par un astérisque.
L’agence Bulle2com collecte et traite des informations de type : nom, prénom, adresse e-mail, numéro de téléphone, adresse IP, données de connexions et données de navigation.
Nous effectuons également des mesures d’audience et de fréquentation grâce à Google Analytics. En vue d’adapter au mieux le site à vos besoins, nous mesurons le nombre de visites, le nombre de pages vues ainsi que l'activité des visiteurs sur le site et leur fréquence de visite.
Nous collectons également les adresses IP, afin de déterminer les villes depuis lesquelles nos visiteurs se connectent. Celles-ci sont anonymisées après utilisation, par conséquent, nous ne pouvons pas remonter par ce biais à une personne physique.
Bulle2com ne collecte pas de données personnelles sensibles.</p>
                            <h3>Traitements des données</h3>
                            <p>La nature du traitement réservé aux données collectées depuis le site www.agence-bulle2com.fr, est explicitement formulée sur chaque page de collecte.
Les informations communiquées ne sont soumises à aucun autre traitement en dehors de celui indiqué sur la page de collecte du formulaire correspondant. Bulle2com ne réalise aucun traitement automatisé et aucun profilage à partir des données qui lui sont confiées.
Bulle2com ne sous-traite pas le traitement des données personnelles qui lui sont confiées.</p>
                            <h3>Durée de conservation des données</h3>
                            <p>Les données personnelles collectées depuis le site www.agence-bulle2com.fr sont conservées le lapse de temps nécessaire au traitement de votre demande.
Les données personnelles sont effacées de nos supports de stockage au plus tard 12 mois après la date à laquelle elles nous ont été transmises.</p>
                            <h3>Partage des données</h3>
                            <p>Les données personnelles qui nous sont transmises par le biais du site www.agence-bulle2com.fr sont utilisées exclusivement par les différents services de l’agence Bulle2com. Elles ne font l’objet d’aucune cession à des tiers ni d’utilisation à d’autres fins.</p>
                            <h3>Consentement</h3>
                            <p>Une demande de consentement est associée à chaque page ou formulaire du site www.agence-bulle2com.fr, susceptible de collecter des données personnelles. Cette demande de consentement se matérialise par un bouton d’approbation qualifié d’opt-in. Toutes les demandes de consentement sont accompagnées d’une mention qui informe que l'utilisateur certifie être majeur, et précise les objectifs de la récolte des données, l’utilisation prévue, ainsi que la durée de conservation des informations transmises.
En activant le bouton de d’approbation (opt-in) de l’un de ces formulaires, l’utilisateur consent par ce geste univoque, de manière libre et éclairée, à communiquer ses informations pour un usage strictement limité à la mention informative correspondante.
Il est également prévenu, et les moyens lui en sont donnés sur cette même page, qu’il peut à tout moment reprendre son consentement, ce qui aurait pour conséquence l’effacement de ses données personnelles en les soustrayant du traitement pour lequel, elles étaient initialement destinées.
Les utilisateurs sont également informés que si les boutons d’approbation (opt-in) ne sont pas activés, aucun consentement ne sera enregistré et aucune donnée personnelle ne sera transmise.</p>
                            <h3>Cookies</h3>
                            <p>Le site www.agence-bulle2com.fr, n’utilise que des cookies techniques, utiles au fonctionnement, et des cookies statistiques, qui permettent d’évaluer les performances du site. Aucun cookie, de géolocalisation, de profilage, publicitaire ou en provenance de tiers, n’est installé sur le logiciel de navigation de l’utilisateur pendant sa session.</p>
                            <h3>Sécurité</h3>
                            <p>L’agence bulle2com, à travers son site www.agence-bulle2com.fr, et plus particulièrement vis-à-vis des données personnelles qui lui sont confiées par ses utilisateurs, est très vigilante sur l’application de la sécurité.
Les flux de données qui transitent depuis les navigateurs des utilisateurs, vers le serveur du site www.agence-bulle2com.fr, sont protégés par chiffrement, et sécurisés grâce à un certificat SSL. Le CRM qui propulse et administre les contenus du site, fait l’objet d’une maintenance corrective et évolutive continue, pour garantir toute faille ou problématique de sécurité. Enfin le data-center et le serveur sur lequel est hébergé le site Bulle2com, bénéficient des meilleures protections physiques et logicielles, d’une surveillance et d’un monitoring permanents. Les utilisateurs sont informés que malgré toutes les mesures raisonnables de sécurité mises en œuvre, Bulle2com ne peut écarter l’éventualité d’une intrusion malveillante sur son serveur qui n’aurait pu être déjouée. Si cette hypothèse était avérée, Bulle2com s’engage à prévenir les autorités compétentes dans un délai maximum de 72h après estimation de l’atteinte consécutive à l’intrusion, notamment si la violation des données personnelles était établie.</p>
                            <h3>Exercice des droits</h3>
                            <p>Dans le cadre de la transparence et des modalités d’exercice des droits de la personne concernée, les utilisateurs de www.agence-bulle2com.fr,, qui communiquent ou nous ont communiqué des informations personnelles, sont informés qu’à tout moment ils peuvent exercer leurs droits sur les données personnelles qui les concernent, détenues par Bulle2com.
À cet effet, nous mettons à leur disposition sur ce site la page “Exercez vos droits”. Depuis de cette page, il est possible d’effectuer une demande pour :
    • Reprendre son consentement, faisant ainsi valoir son droit à la limitation du traitement. 
    • Demander l’effacement de ses données personnelles, faisant ainsi valoir son droit à l’oubli. 
    • Demander la rectification de ses données personnelles, en permettant de corriger une anomalie. 
    • Demander la portabilité de ses données. 
Dans le cadre de cette procédure, les utilisateurs sont invités à nous communiquer les informations nécessaires pour les rapprocher de leurs données personnelles stockées. Leurs demandes sont exécutées à l’issue du processus de vérification de leur identité, auquel ils sont conviés.
Si vous êtes client, prospect de l’agence Bulle2comou usager du site www.agence-bulle2com.fr vous pouvez également nous communiquer votre demande par voie postale* à :
Agence Bulle2com
771Avenue Marc lepoutre
84700 SORGUES
* Concernant les demandes effectuées par voie postale, de limitation, effacement, rectification ou portabilité sur des données personnelles vous concernant, merci d’accompagner votre demande par un justificatif de votre identité : ex. copie de la carte nationale d’identité.</p>
                          
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {{ include ('composant/footer.twig') }}


    
{% endblock content %}