   <div class="special_description_area bg-white pt-150-jm">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-1">
       </div>
                    {% setcontent apli = 'propositions/print' %}
                    
                        
                    <div class="col-12 col-md-12 col-lg-10 t-ac-jm">
                        <div class="special_description_content">
                            <h2>{{ apli.title }}</h2>
                            <p>{{ apli.content }}</p>
                           
                        </div>
                    </div>
                        <div class="col-12 col-md-12 col-lg-1">
       </div>
                            
            
                        
                </div>
            </div>
        </div>